<ui:composition xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:s="http://jboss.org/schema/seam/taglib" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:rich="http://richfaces.org/rich" xmlns="http://www.w3.org/1999/xhtml"
                template="/layout/template.xhtml">
    <ui:define name="body">
        <h2>#{messages['net.ihe.gazelle.proxy.HTTPMessage']}</h2>
        #{messageBean.retrieveMessage("HTTP")}
        #{messageBean.intResult()}
        <h:form>
            <ui:include src="commonProperties.xhtml"></ui:include>
            <dl class="dl-horizontal">

                <h:panelGroup rendered="#{messageBean.isDownloadable()}">
                    <ui:decorate template="/layout/display/_data_list_item.xhtml">
                        <ui:define name="label">#{messages['net.ihe.gazelle.proxy.Type']}</ui:define>
                        <h:outputText value="#{messageBean.message.messageType}"/>
                    </ui:decorate>
                </h:panelGroup>

                <ui:decorate template="/layout/display/_data_list_item.xhtml">
                    <ui:define name="label">#{messages['net.ihe.gazelle.proxy.Headers']}</ui:define>
                    <h:outputText value="#{messageBean.escape(messageBean.message.getHeadersAsString())}"
                                  escape="false" style="font-family: monospace;"/>
                </ui:decorate>

                <h:panelGroup rendered="#{messageBean.isDownloadable()}">
                    <ui:decorate template="/layout/display/_data_list_item.xhtml">
                        <ui:define name="label">#{messages['net.ihe.gazelle.proxy.Metadata']}</ui:define>
                    </ui:decorate>
                </h:panelGroup>

            </dl>
        </h:form>
        <ui:include src="commonDownload.xhtml"></ui:include>
    </ui:define>
</ui:composition>
