.tooltipped {
    position: relative;
}
.tooltipped::after {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    content: attr(aria-label);
    display: none;
    font: 13px/1.5 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
    letter-spacing: normal;
    padding: 5px 8px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: pre;
    word-wrap: break-word;
    z-index: 1000000;
}
.tooltipped::before {
    border: 5px solid transparent;
    color: rgba(0, 0, 0, 0.8);
    content: "";
    display: none;
    height: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
    z-index: 1000001;
}
.tooltipped:hover::before, .tooltipped:hover::after, .tooltipped:active::before, .tooltipped:active::after, .tooltipped:focus::before, .tooltipped:focus::after {
    display: inline-block;
    text-decoration: none;
}

.tooltipped-s::after {
    transform: translateX(50%);
    margin-top: 5px;
    right: 50%;
    top: 100%;
}
.tooltipped-s::before {
    border-bottom-color: rgba(0, 0, 0, 0.8);
    bottom: -5px;
    margin-right: -5px;
    right: 50%;
    top: auto;
}