<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:g="http://www.ihe.net/gazelle"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns="http://www.w3.org/1999/xhtml"
                template="layout/template.xhtml">
    <ui:define name="body">
        <h:form id="listOfChannelsForm">
            <s:token allowMultiplePosts="true"></s:token>
            <h1>#{messages['net.ihe.gazelle.proxy.ChannelsManagement']}</h1>
            <s:div>
                <a4j:commandButton
                        value="#{messages['net.ihe.gazelle.proxy.Refresh']}"
                        styleClass="gzl-btn-blue"
                        render="listOfChannelsForm,channelTable,messages"/>
                <a4j:commandButton value="#{messages['net.ihe.gazelle.proxy.StopAllChannels']}"
                                   oncomplete="jq162('#stopAllPanel').modal('show');"
                                   styleClass="gzl-btn-red" render=":stopAllPanelForm"
                                   rendered="#{applicationConfigurationManager.isUserAllowedAsAdmin()}"/>
                <a4j:commandButton action="/newchannel.xhtml"
                                   value="Open a new channel" render="listOfChannelsForm,messages"
                                   rendered="#{applicationConfigurationManager.isUserAllowedAsAdmin()}"
                                   styleClass="gzl-btn-blue"/>
                <h:commandButton action="#{channelManagerBean.download()}"
                                 value="Download list of channels"
                                 rendered="#{applicationConfigurationManager.isUserAllowedAsAdmin()}"
                                 execute="@this" immediate="true" styleClass="gzl-btn-blue"/>
                <br/>
                <br/>
                <h:outputText
                        value="#{messages['net.ihe.gazelle.proxy.ProxyIsAccessibleVia']} : "/>
                <h:outputText
                        value="#{applicationConfigurationManager.proxyIpAddresses}"/>
                <br/>
                <br/>

                <rich:dataTable id="channelTable" value="#{proxyBean.getListOfProxies2()}"
                                var="currentChannel" rows="#{dataScrollerMemory.numberOfResultsPerPage}"
                                render="datascroller">
                    <g:column sortBy="#{'channelType.identifier'}" filterBy="#{'channelType.identifier'}">
                        <ui:define name="header">
                            <h:outputText
                                    value="#{messages['net.ihe.gazelle.proxy.ChannelType']}"/>
                        </ui:define>
                        <h:outputText value="#{currentChannel.channelType}"/>
                    </g:column>
                    <g:column sortBy="#{'proxyProviderPort'}"
                              sortOrder="#{dataTableStateHolder.sortOrders['proxyProviderPort']}"
                              filterBy="#{'proxyProviderPort'}">
                        <ui:define name="header">
                            <h:outputText
                                    value="#{messages['net.ihe.gazelle.proxy.ProxyPort_2']}"/>
                        </ui:define>
                        <h:outputText value="#{currentChannel.proxyProviderPort}"/>
                    </g:column>
                    <g:column sortBy="#{'proxyConsumerHost'}"
                              sortOrder="#{dataTableStateHolder.sortOrders['proxyConsumerHost']}"
                              filterBy="#{'proxyConsumerHost'}">
                        <ui:define name="header">
                            <h:outputText
                                    value="Proxy Consumer Host"/>
                        </ui:define>
                        <h:outputText
                                value="#{currentChannel.proxyConsumerHost}"/>
                    </g:column>
                    <g:column sortBy="#{'proxyConsumerPort'}"
                              sortOrder="#{dataTableStateHolder.sortOrders['proxyConsumerPort']}"
                              filterBy="#{'proxyConsumerPort'}">
                        <ui:define name="header">
                            <h:outputText
                                    value="Proxy Consumer Port"/>
                        </ui:define>
                        <h:outputText
                                value="#{currentChannel.proxyConsumerPort}"/>
                    </g:column>
                    <g:column
                            rendered="#{applicationConfigurationManager.isUserAllowedAsAdmin()}">
                        <ui:define name="header">
                            <h:outputText
                                    value="#{messages['net.ihe.gazelle.proxy.ChannelAction']}"/>
                        </ui:define>

                        <a4j:commandButton value="#{messages['net.ihe.gazelle.proxy.Stop']}"
                                           actionListener="#{channelManagerBean.setChannelToStop(currentChannel.proxyProviderPort)}"
                                           oncomplete="jq162('#stopPanel').modal('show');"
                                           styleClass="gzl-btn-red" render=":stopPanelForm"/>

                        <h:commandButton
                                value="#{messages['net.ihe.gazelle.proxy.Details']}"
                                action="#{messagesBean.redirectToMessages(currentChannel.channelType,currentChannel.proxyProviderPort,currentChannel.proxyConsumerHost,currentChannel.proxyConsumerPort,null,null,null,null,null,null,null,null,null)}"
                                styleClass="gzl-btn"/>

                    </g:column>
                    <f:facet name="footer">
                        <ui:include src="/util/datatableFooter.xhtml">
                            <ui:param name="dataScrollerId" value="datascroller"/>
                            <ui:param name="dataTableId" value="channelTable"/>
                        </ui:include>
                    </f:facet>
                </rich:dataTable>

            </s:div>
        </h:form>
        <h:form id="stopPanelForm">
            <s:token allowMultiplePosts="true"/>
            <ui:decorate template="/layout/popup/_popup_title_footer.xhtml">
                <ui:param name="popup_id" value="stopPanel"/>
                <ui:define name="popup_title">#{messages['net.ihe.gazelle.proxy.StopChannel']}</ui:define>
                <p>Are you sure you want to do this ?</p>
                <ui:define name="popup_footer">
                    <button type="button" class="gzl-btn" data-dismiss="modal">
                        #{messages['net.ihe.gazelle.proxy.Cancel']}
                    </button>
                    <a4j:commandButton id="deleteObjectAttributebutton"
                                       value="#{messages['net.ihe.gazelle.proxy.StopChannel']}"
                                       styleClass="gzl-btn-red"
                                       actionListener="#{channelManagerBean.stopChannelReal()}"
                                       onclick="jq162('#stopPanel').modal('hide');"
                                       render="listOfChannelsForm"/>
                </ui:define>
            </ui:decorate>
        </h:form>

        <h:form id="stopAllPanelForm">
            <s:token allowMultiplePosts="true"/>
            <ui:decorate template="/layout/popup/_popup_title_footer.xhtml">
                <ui:param name="popup_id" value="stopAllPanel"/>
                <ui:define name="popup_title">#{messages['net.ihe.gazelle.proxy.StopAllChannels']}</ui:define>
                <p>Are you sure you want to do this ?</p>
                <ui:define name="popup_footer">
                    <button type="button" class="gzl-btn" data-dismiss="modal">
                        #{messages['net.ihe.gazelle.proxy.Cancel']}
                    </button>
                    <a4j:commandButton id="deleteObjectAttributebutton"
                                       value="#{messages['net.ihe.gazelle.proxy.StopAllChannels']}"
                                       styleClass="gzl-btn-red"
                                       actionListener="#{channelManagerBean.stopAllChannels()}"
                                       onclick="jq162('#stopAllPanel').modal('hide');"
                                       render="listOfChannelsForm"/>
                </ui:define>
            </ui:decorate>
        </h:form>

    </ui:define>
</ui:composition>
