<ui:composition xmlns:h="http://java.sun.com/jsf/html"
                xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                xmlns="http://www.w3.org/1999/xhtml" template="layout/template.xhtml">

    <ui:define name="body">
        <h:outputScript library="js" name="disable_input_spinner_mouse_wheel.js"/>
        <h:form id="newChannel">
            <s:token allowMultiplePosts="true"/>
            <h1>#{messages['net.ihe.gazelle.proxy.ChannelsManagement']}</h1>

            <ui:decorate template="/layout/panels/_panel_title_id.xhtml">
                <ui:param name="panel_id" value="search"/>
                <ui:define name="panel_title">
                    <h:outputText value="#{messages['net.ihe.gazelle.proxy.NewChannelConfiguration']}"/>
                </ui:define>
                <div class="row">
                    <div class="col-md-6">
                        <s:decorate template="/layout/form/_edit.xhtml">
                            <ui:param name="id" value="messageTypeBox"/>
                            <ui:define name="label">#{messages['net.ihe.gazelle.proxy.MessageType']}</ui:define>
                            <h:selectOneMenu id="messageTypeBox"
                                             styleClass="form-control gzl-form-control gzl-select-text"
                                             value="#{channelManagerBean.messageType}">
                                <s:selectItems value="#{channelManagerBean.getMessageTypes()}"
                                               var="cmdField" label="#{cmdField.toString()}"/>
                            </h:selectOneMenu>
                        </s:decorate>
                        <s:decorate template="/layout/form/_edit.xhtml">
                            <ui:param name="id" value="proxyPortSpinnerInput"/>
                            <ui:define name="label">#{messages['net.ihe.gazelle.proxy.ProxysPort']}</ui:define>
                            <rich:inputNumberSpinner id="proxyPortSpinnerInput" value="#{channelManagerBean.proxyPort}"
                                                     minValue="#{applicationConfigurationManager.minProxyPort}"
                                                     maxValue="#{applicationConfigurationManager.maxProxyPort}"/>
                        </s:decorate>
                    </div>
                    <div class="col-md-6">
                        <s:decorate id="responderIPDeco" template="/layout/form/_edit.xhtml">
                            <ui:param name="id" value="responderIPInput"/>
                            <ui:define name="label">Responder IP / Hostname</ui:define>
                            <h:inputText id="responderIPInput" styleClass="form-control"
                                         value="#{channelManagerBean.responderIP}" required="true"
                                         requiredMessage="Responder's IP address is mandatory">
                                <a4j:ajax event="blur" render="responderIPDeco"/>
                            </h:inputText>
                        </s:decorate>
                        <s:decorate template="/layout/form/_edit.xhtml">
                            <ui:param name="id" value="responderPortInput"/>
                            <ui:define name="label">#{messages['net.ihe.gazelle.proxy.RespondersPort']}</ui:define>
                            <rich:inputNumberSpinner id="responderPortInput" value="#{channelManagerBean.responderPort}"
                                                     minValue="1"
                                                     maxValue="65535"
                                                     required="true"
                                                     requiredMessage="Responder's port is mandatory"/>
                        </s:decorate>
                    </div>
                </div>
                <a4j:commandButton
                        value="#{messages['net.ihe.gazelle.proxy.Start']}" styleClass="gzl-btn-green"
                        action="#{channelManagerBean.startChannel()}" render="gazelle-messages,newChannel"/>
            </ui:decorate>
            <ui:decorate template="/layout/panels/_panel_title_id.xhtml">
                <ui:param name="panel_id" value="uploadPanel"/>
                <ui:define name="panel_title">
                    <h:outputText value="Open a batch of channels"/>
                </ui:define>
                <h:outputText
                        value="Upload a CSV file containing the list of channels to open"/>
                <br/>
                <br/>
                <a4j:region id="uploadRegion">
                    <rich:fileUpload
                            fileUploadListener="#{channelManagerBean.configFileUploadListener}"
                            maxFilesQuantity="1" id="upload" immediateUpload="true"
                            acceptedTypes="csv" listHeight="50px" immediate="true">
                    </rich:fileUpload>
                </a4j:region>
            </ui:decorate>
            <a href="channels.seam">View opened channels</a>

            <!--@formatter:off-->
            <script>
                disable_input_spinner_mouse_wheel('#{rich:clientId('proxyPortSpinnerInput')}');
                disable_input_spinner_mouse_wheel('#{rich:clientId('responderPortInput')}');
            </script>
            <!--@formatter:on-->
        </h:form>
    </ui:define>
</ui:composition>
